*{
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
	background-size: cover;
	font-family: sans-serif;
}
html{
	scroll-behavior: smooth;
}
header{
	width: 100%;
	height: 100vh;
	position: relative;
}

.menu a:before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 0%;
	height: 100%;
	border-bottom: 2px solid #8FC1D4;
	transition: 0.5s;
}
.menu a:hover:before{
	width: 90%;
}
.menu a{
	position: relative;
}

nav{
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	height: 70px;
}
.logo{
	font-size: 30px;
	font-weight: bold;
	color: #8FC1D4;
}
.menu a{
	font-size: 20px;
	color: black ;
	text-decoration: none;
	padding: 10px 20px;
	font-weight: bold;
}
.icon i{
	color:#8FC1D4;
	font-size: 25px;
	border-radius: 50px;
	padding: 10px 20px; 
}
.circle{
	margin-top: 20px;
	height: 400px;
	width: 400px;
	background:rgba(143, 193, 212, 0.58);
	border-radius: 50%;
	position: absolute;	
	top: 20%;
	right: 15%;
	z-index: -1;
}
.container{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	margin-top: 20px;
}
.left{
	flex-basis: 60%;
	max-width: 450px;
}
.right{
	flex-basis: 40%;
	text-align: center;
}
.right img{
	width: 70%;
}
.left h1{
	font-weight: bold;
	font-size: 50px;
}
.left span{
	color:#8FC1D4; 
}
.p-head{
	margin-top: 10px;
}
.btn{
	margin-top: 20px;
}
.btn input{
	padding: 10px;
	width: 70%;
	border:1px solid grey;
	outline: none;
	border-radius: 20px;
}
.btn button{
	padding: 10px;
	background-color:#8FC1D4;
	color: black;
	border-radius: 30px; 
	outline: none;
	border:1px solid grey;
	font-weight: bold;
	cursor: pointer;
	border:none;
}
.btn button:hover{
	background:none;
	color: black;
	border:1px solid black;
	transition: 0.5s; 
}
.counter{
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	margin-top: 15px;
}
#welcome{
	position: absolute;
	 bottom: 0;
	 left: 0;
	 width: 200px;
	 z-index: -1;
}
#featured{
 	padding: 100px 50px;
}
.featured-row,.offer-row{
	display: flex;
	justify-content: center;
	align-items:center;
	flex-wrap: wrap; 
}
.featured-left,.offer-left{
	flex-basis: 50%;
}
.featured-left,.offer-right img{
	width:  80%;
}
.featured-right,.offer-right{
	flex-basis: 50%;
	max-width: 500px;
}
.featured-right h1{
	font-size: 40px;
	bottom: 20px;
}
.featured-right p{
	padding: 20px 0px;
	color: grey;
}
.c-btn{
	background: none;
	padding: 10px 20px;
	border:1px solid black;
	outline: none;
	font-weight: bold;
	border-radius: 30px;
	cursor: pointer;
	border:none;
} 
.c-btn:hover{
	background-color:#8FC1D4;
	color: black;
	border:none;
	transition: 0.5s; 
}
#featured-two{
 	padding: 100px 50px;
}
.featured-two-row{
	display: flex;
	justify-content: center;
	align-items:center;
	flex-wrap: wrap; 
}
.featured-two-left{
	flex-basis: 50%;
	max-width: 500px;
}
.featured-two-right{
	flex-basis: 50%;
}
.featured-two-right img{
	width:  100%;
}
.featured-two-left h1{
	font-size: 40px;
	bottom: 20px;
}
.featured-two-left p{
	padding: 20px 0px;
	color: grey;
}
.c-btn{
	background: none;
	padding: 10px 20px;
	border:1px solid black;
	outline: none;
	font-weight: bold;
	border-radius: 30px;
	cursor: pointer;
} 
.c-btn:hover{
	background-color:#8FC1D4;
	color: black;
	border:none;
	transition: 0.5s; 
}
#selling{
	padding: 50px;
}
.selling-row{
    display: flex;
	justify-content: space-around;
	align-items:center;
	flex-wrap: wrap;	
}
.selling-box{
	flex-basis: 25%;
	text-align: center;
	padding-bottom: 20px;
}
#selling h1{
	font-size: 50px;
	text-align: center;
	margin-bottom: 20px;
}
.selling-box img{
	width: 100%;
	padding-top: 20px;
}
.selling-box > div{
	background:rgba(0,0,0,0.05);
}
.selling-box h3{
	margin:10px 0px;
}
.selling-box:hover{
box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
cursor: pointer;
}
#offer{
	padding: 100px 50px;
}	
.offer-left span{
	color:#8FC1D4; 
}
.offer-left h1{
	font-size: 50px;
	margin-bottom: 10px;
}
.offer-left p{
	padding: 20px 0px;
	color: grey;
}
.offer-left {
	max-width: 500px;
}
#blog{
	padding: 100px 50px;
}
.blog-row{
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
}
.blog-box{
	flex-basis: 25%;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.blog-box img{
	width: 100%;
}
.blog-box:hover{
cursor: pointer;
}
#blog h1{
	font-size: 40px;
	text-align: center;
	margin-bottom: 30px;
}	
.blog-box p{
	padding: 15px;
}
.blog-box h3{
	padding: 10px;
}
.blog-box .c-btn{
	margin:20px 10px;
}
#footer{
	padding: 30px 50px;
}
.subscribe{
	text-align: center;
}
.subscribe input{
	width: 40%;
	padding: 15px;
	border-radius: 30px;
	border:1px solid black;
	outline: none;
	background:rgba(0,0,0,0.05);
	margin-bottom: 40px;
}
 button{
padding: 15px;
border-radius: 20px;
border:1px solid black;
outline: none;
cursor: pointer;
background-color:#8FC1D4; 
font-weight: bold;
border:none;
}
.subscribe button:hover{
	background:none;
	color: black;
	border:1px solid black;
	transition: 0.5s; 
}
.footerp-row{
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
}
.footerp-row p{
	color: grey;
	margin: 10px 0px; 
}
 
/*media*/

@media (max-width: 770px){
.menu{
	display: none;
}
.left{
	flex-basis: 100%;
	margin:50px 100px;
}	
.right{
	display: none;
}
#welcome{
	position: absolute;
	 bottom: 0;
	 left: 0;
	 top: 100%;
	 width: 100px;
	 z-index: -1;
}
.circle{
	margin-top: 20px;
	height: 300px;
	width: 300px;
	background:#f4f4f4;
	border-radius: 50%;
	position: absolute;	
	top: 20%;
	right: 35%;
	z-index: -1;
}
.featured-left{
	flex-basis: 100%;
	margin-top: 30%;
}
.featured-left img{
	width: 70%;
}
.featured-right{
	flex-basis: 100%;
}
.featured-two-left{
	flex-basis: 100%;
}
.featured-two-right{
	flex-basis: 100%;
}
.btn button{
	margin-top: 10px;
}
.selling-box{
	flex-basis: 100%;
	text-align: center;
}
.offer-left{
	flex-basis: 100%;
}
.offer-right img{
	width: 70%;
	margin:20px 0px;
}
.offer-right{
	flex-basis: 100%;
}
.blog-box{
	flex-basis: 100%;
	padding: 20px 0px;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.footerp-row p{
	color: grey;
}
.footerp-row> div{
	flex-basis: 30%;
}
.subscribe input{
	width: 60%;
	padding: 10px;
}

